{% extends 'dashboard/main.html' %}

{% block title %}
{% if edit %}
Edit Expenses
{% else %}
Add New Expenses
{% endif %}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if edit %}
      <form class="form" method="post" action="{% url 'dashboard:edit' object.pk%}">
      {% else %}
      <form class="form" method="post" action="">
      {% endif %}
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Amount</label>
          <input class="form-control" type="text" name="amount" value="{{ form.amount.value }}">
        </div>  
        <div class="mb-3">
          <label class="form-label">Category</label>
          <select class="form-select form-select-md" name="category">
            <option value="" selected disabled>Choose category</option>
            {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>  
        <div class="mb-3">
          <label class="form-label">Date</label>
          <input class="form-control" type="date" name="date" value="{{ form.date.value }}">
        </div>  
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input class="form-control" type="text" name="description" value="{{ form.description.value }}">
        </div>  
        <input type="submit" class="btn btn-primary" value="{% if edit %}Update{% else %}Add{% endif %}">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
